* {
    margin: auto;
    scroll-padding-top: 0%;
}

footer {
    font-size: 120;
    color: rgb(11, 10, 10);
}

body {
    background: orangered url('big5/t1.jpg');

}

#git_header {
    color: rgb(166, 19, 19);
}

h1 {
    font-size: 100px;
    line-height: 1em;
    color:orangered

}

h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 80px;
    color: orangered;
    line-height: 3em;
}

h3 {
    font-size: 70px;
    line-height: 3em;
}

.first_text {
    color: #141212;
}

p {
    line-height: 2em;
    color: green;
    fo
}

.navbar {
    width: 800px;
    height: 75px;
    margin: auto;

}

#bar {
    width: 100%;
    background-color: orangered;
}

.icon {
    width: 200px;
    float: left;
    height: 70px;
}

.logo {
    color: olivedrab
    font-size: 80;
    font-family: 'Times New Roman';
    padding-left: 2em;
    float: left;
    padding-top: none;
}

.menu {
    width: 400;
    float: left;
    height: 70px;

}

ul {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li {
    list-style: none;
    margin-left: 60px;
    margin-top: 30px;
    font-size: 30px;

}

ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: Georgia;
    transition: 0.2s ease-in-out;
}

ul li a:hover {
    color: orange;
}

.search {
    width: 350px;
    float: right;
    margin-left: 300px;

}

.srch {
    font-family: Aria;
    width: 200px;
    height: 40px;
    background: transparent;
    border: 2px solid rgb(10, 10, 9);
    margin-top: 13px;
    color: black;
    border-right: none;
    font-size: 30px;
    float: left;
    padding: 20px;
    border: thick outset rgb(119, 80, 80);
}

.btn {
    width: 50px;
    height: 40px;
    background: white;
    border: 2px solid #ffffff;
    color: white font-size:20;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.btn:focus {

    outline: none;
}

.srch:focus {
    outline: none;
}

#blue {
    background-color: hsl(70, 7%, 84%);
    height: 150px;
}

.text {
    color: whitesmoke font-size:50px;
    font-family: 'Times New Roman';
}

.test {
    color: black;
    font-size: 40px;
    padding: 0px 10vw 0px 10vw;
    -webkit-text-stroke: 0px black;
    -webkit-font-smoothing: antialiased;
}